{%extends 'base/base.html'%}
{%load static%}
{%block extrahead%}
<link rel="stylesheet" href="{%static 'css/registrar_cuenta.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{%endblock extrahead%}

{%block content%}
<div class="listado_cuentas">
    <div class="encabezado_cuentas">
        <div class="container-fluid">
        </div>
        <h1>Registrar</h1>
    </div>
    <div class="registrar-body">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="row g-2">
                <div class="col-12">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Usuario</label>
                    {{form.username}}
                </div>
                <div class="col-6">
                    <label for="inputPassword4" class=" col-form-label">Contraseña</label>
                    {{form.password1}}
                </div>
                <div class="col-6">
                    <label for="inputPassword4" class=" col-form-label">Vuelve a escribir la contraseña</label>
                    {{form.password2}}
                </div>
                <div class="col-md-4">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Nombre</label>
                    {{form.nombre}}
                </div>
                <div class="col-md-4">
                    <label for="colFormLabel" class=" col-form-label">Apellido Paterno</label>
                    {{form.apellido_paterno}}
                </div>
                <div class="col-md-4">
                    <label for="colFormLabel" class=" col-form-label">Apellido Materno</label>
                    {{form.apellido_materno}}
                </div>
                <div class="col-9">
                    <label for="colFormLabel" class=" col-form-label">Email</label>
                    {{form.email}}
                </div>
                <div class="col-3">
                    <label for="colFormLabel" class=" col-form-label">Telefono</label>
                    {{form.telefono}}
                </div>
                <label for="colFormLabel" class=" col-form-label">Seleccionar local del empleado</label>
                    <input type="text" list="productos" placeholder="Codigos de barras" class="form-control" name="local">
                    <datalist id="productos">
                        {% for codigos in productos %}
                            <option value="{{ codigos.nombre }}" ></option>
                        {% endfor %}
                    </datalist>
                <div class="form-check form-switch col-12" id="registrar_admin">
                    <label class="form-check-label " for="flexSwitchCheckDefault" >¿Es administrador?</label>
                    {{form.is_staff}}
                  </div>
            </div>
            {% if field.help_text %}
                <small id="texto_ayuda">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}

            <button type="submit" class="btn btn-success">Registrar</button>
        </form>
    </div>
</div>
   
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{%static 'javascript/cuenta_script.js' %}"></script>
{% endblock %}
{% endblock content %}

