
.Contenedor-dash1{
   margin-left: 18%;
   margin-top: 5%; 
   margin-right: 2%;
}

.Contenedor-dash2{
    margin-left: 18%;
    margin-top: 2%; 
    margin-right: 2%;
 }

 #Graficos{
     margin-left: 3%;
     margin-right: 2%;
 }