{%extends 'base/base.html'%}
{%load static%}
{%block extrahead%}
<link rel="stylesheet" href="{%static 'css/inventario.css'%}">
{%endblock extrahead%}

{%block content%}
<div class="listado_inventario">
    <div class="encabezado_inventario"> 
        <div class="container-fluid">
            <form  method="GET">
                <div class="col-md-3">
                  <input id="buscarbox" type="search" class="form-control" placeholder="Buscar" aria-label="Search" name="buscar" value="{{request.GET.buscar}}">
                </div>
            </form>
        </div>
        <ul class="nav nav-pills nav-fill" id="Tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#Inventario">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#Almacen">Almacen</a>
          </li>
        </ul>
    </div>
    
    <div class="tab-content">
      <div class="tab-pane show active" id="Inventario">
        <table class="tabla_inventario">
            <thead>
              <tr>
                <th>Nombre del Producto</th>
                <th>Inventario</th>
                <th>En Salida</th>
                <th>Acciones</th>
              </tr>                
            </thead>
            <tbody>
              {% for sumas in suma %}
              <tr>
                  <td>{{sumas.nombre}}</td>
                  <td>{{sumas.inv_total}}</td>
                  {% if sumas.resta < 0 %}
                  <td>0</td>
                  {% else %}
                  <td>{{sumas.resta}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
            </tbody>
        </table>
      </div>
      <div class="tab-pane" id="Locales">
        <a href="{%url 'crearlocales' %}" ><button id="Boton_Add" class="btn btn-primary" type="button">Añadir</button></a>
        <table class="tabla_restaurante">
            <thead>
              <tr>
                <th>Nombre del Local</th>
                <th>Dirreccion</th>
                <th>Codigo Postal</th>
                <th>Telefono</th>
              </tr>                
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>

{% block footer %}
{% endblock %}

{% endblock content %}