<div class="tab-pane active " id="General">
    <table class="tabla_caja">
        <thead>
        <tr>
            <th>Fecha de Apertura</th>
            <th>Fecha de Cierre</th>
            <th>Restaurante</th>
            <th>Monto Inicial</th>
            <th>Monto Final</th>
            <th>Total Ventas</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>                
        </thead>
        <tbody>
            <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tab-pane" id="Ordenes">
    <table class="tabla_caja">
        <thead>
        <tr>
            <th>Numero de Orden</th>
            <th>Numero de Mesa</th>
            <th>Platillos</th>
            <th>Precio Total</th>
            <th>Extras</th>
            <th>Acciones</th>
        </tr>                
        </thead>
        <tbody>
            <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tab-pane" id="AbrirCaja">
    <table class="tabla_caja">
        <thead>
        <tr>
            <th>Fecha de Apertura</th>
            <th>Monto Incial</th>
            <th>Caja Cerrara</th>
            <th>Monto Final</th>
            <th>Encargado</th>
            <th>Restaurante</th>
            <th>Caja</th>
            <th>Acciones</th>
        </tr>                
        </thead>
        <tbody>
            <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        </tbody>
    </table>
</div>