{%extends 'base/base.html'%}
{%load static%}
{%block extrahead%}
<link rel="stylesheet" href="{%static 'css/borrar_cuenta.css'%}">
<link rel="stylesheet" href="{%static 'css/botones.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{%endblock extrahead%}

{%block content%}
<div class="listado_cuentas">
    <div class="encabezado_cuentas">
        <div class="container-fluid">
        </div>
        <h1>Borrar Usuario</h1>
    </div>
    <div class="registrar-body">
        <form method="POST" action="">
            {% csrf_token %}
            <h4 id="borrartit">¿Usted desea borrar al usuario {{usaurio.nombre_completo}}?</h4>
            <p>Este cambio sera permanente</p>

            <button type="submit" class="btn btn-danger">Borrar</button>
            <a href="{% url 'usuario' %}" id="botoncancelar">Cancelar</a>
        </form>
    </div>
</div>
   
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% endblock content %}

