.listado_cuentas{
    position: absolute;
    width: 75%;
    height: 80%;
    left: 20%;
    top: 15%;
    background: #077575;
    border-radius: 23px;
    overflow: scroll;
    overflow-x:hidden;
}

.texto_ayuda{
    color: rgba(156, 156, 156, 0.466);
}

label{
    color: White;
}

.encabezado_cuentas {
    position: sticky;
    width: 100%;
    height:15%;
    background: #005151;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px 23px 0px 0px;
}


#Boton_Add {
    position: fixed;
    top: 20.5%;
    left: 68%;
    background-color: #C07639;
    border-color: #C07639;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#Boton_Add:hover{
    background-color: #9E561A;
    border-color: #9E561A;
}


.container-fluid{
    position: relative;
    display: inline-block;
    top: 45%;
    left: 70%;
}


.nav{
    margin-top: 1%;
    margin-left: 5%;
    width: 40%;
    }

.tabla_cuentas{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
}

.tabla_cuentas thead tr{
    border-bottom: 1px solid grey;
}

.tabla_cuentas thead tr th{
    letter-spacing: 1px;
    padding: 5px;
    text-align: center;
    color: white;
}

.tabla_cuentas tbody tr td{
    letter-spacing: 1px;
    padding: 5px;
    text-align: center;
    color: white;
}

.tabla_cuentas tbody tr td{
    letter-spacing: 1px;
    padding: 5px;
    text-align: center;
    color: white;
}

#barcode{
    width: 30%;
    height: 30%;
}

#img_prod{
    width: 10%;
    height: 10%;
}

@media screen and (max-width:1400px){

    .listado_cuentas{
        position: absolute;
        width: 75%;
        height: 80%;
        left: 20%;
        top: 15%;
        background: #077575;
        border-radius: 23px;
    }

    .encabezado_cuentas {
        position: sticky;
        width: 100%;
        height:15%;
        background: #005151;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 23px 23px 0px 0px;
    }

    .nav{
        margin-top: -2%;
        margin-left: 5%;
        width: 25%;
    }

    #Pestañas{
        margin-top: -2%;
    }

    #pest_prod{
        padding: 8px 12px;
    }

    #pest_cb{
        padding: 8px 12px;
    }

    #Boton_Add {
        position: fixed;
        top: 19%;
        left: 62%;
        background-color: #C07639;
        border-color: #C07639;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    #Boton_Add:hover{
        background-color: #9E561A;
        border-color: #9E561A;
    }

    .container-fluid{
        position: relative;
        display: inline-block;
        top: 30%;
        left: 70%;
    }

    .tabla_cuentas{
        border-collapse: collapse;
        width: 80%;
        text-align: center;
        margin-left: 5%;
        margin-top: 2%;
    }

    .tabla_cuentas thead tr{
        border-bottom: 1px solid grey;
    }

    .tabla_cuentas thead tr th{
        letter-spacing: 1px;
        padding: 5px;
        text-align: center;
        color: white;
    }
}